.header {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    background: url(../images/assets/Title-Bar.png);
    background-size: cover;
    height: 74px;
}

.title-slider {
    position: relative;
    color: #ffff00;
    font: 400 25px NeoSansIntel;
    padding-top: 23px;
}

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    background: url(../images/assets/Main-BG.png);
    background-size: cover;
    height: 580px;
    padding: 0;
    margin: 0;
}

.image-slider img {
    margin: 0 auto;
    padding-top: 55px;
}

#conference {
    margin-top: 40px;
}

.conference-title {
    color: #ffff00;
    font: 400 22px / 20px NeoSansIntel;
    line-height: 25px;
}

.conference-description {
    color: #ffff00;
    font: 400 18px / 16px NeoSansIntel;
}

.light-box {
    background: url(../images/assets/thumbnail-bar.png);
    background-size: cover;
    height: 200px;
    padding-top: 75px;
}

.slider-thumbnail img {
    margin-left: 5px;
    margin-right: 5px;
}

@media screen and (min-width: 768px) {
    .container {
        min-width: 1037px;
    }
    .header,
    .light-box {}
    .header {}
    .jumbotron {}
}