.header {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    background: url(../images/Title-Bar.png);
    background-size: cover;
    height: 74px;
}

.title-slider {
    position: relative;
    color: #ffff00;
    font: 400 25px NeoSansIntel;
    padding-top: 23px;
}

.light-box {
    background: url(../images/thumbnail-bar.png);
    background-size: cover;
    height: 200px;
}

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    background: url(../images/Main-BG.png);
    background-size: cover;
    height: 580px;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .container {
        min-width: 1037px;
    }
    .header,
    .light-box {}
    .header {}
    .jumbotron {}
}