@font-face {
    font-family: "NeoSansIntel";
    src: url("../fonts/NeoSansIntel.ttf");
}

@font-face {
    font-family: "NeoSansIntel-Light";
    src: url("../fonts/NeoSansIntel-Light.ttf");
}

@font-face {
    font-family: "NeoSansIntel-Italic";
    src: url("../fonts/NeoSansIntel-Italic.ttf");
}

@font-face {
    font-family: "NeoSansIntel-Medium";
    src: url("../fonts/NeoSansIntel-Medium.ttf");
}

@font-face {
    font-family: "NeoSansIntel-MediumItalic";
    src: url("../fonts/NeoSansIntel-MediumItalic.ttf");
}

@font-face {
    font-family: "NeoSansIntel-LightItalic";
    src: url("../fonts/NeoSansIntel-LightItalic.ttf");
}

@font-face {
    font-family: "NexaLight";
    src: url("../fonts/Nexa Light.otf");
}

.header {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    background: url(../images/assets/Title-Bar.png);
    background-size: cover;
    height: 74px;
}

.title-slider {
    position: relative;
    color: #ffff00;
    font: 400 28px NeoSansIntel;
    font-weight: bolder;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    background: url(../images/assets/Main-BG.png);
    background-size: cover;
    height: auto;
    padding: 0;
    margin: 0;
}

.image-slider {
    position: relative;
    margin: 0 auto;
    width: 600px;
}

.image-slider .left-arrow {
    position: absolute;
    background: url(../images/assets/left-button-box.png);
    background-size: cover;
    width: 93px;
    height: 98px;
    top: 38%;
    left: -45px;
}

.image-slider #left-icon {
    position: absolute;
    background: url(../images/assets/left-arrow.png);
    background-size: cover;
    width: 11px;
    height: 22px;
    top: 46.5%;
    left: -4.5px;
    cursor: pointer;
}

.image-slider #left-icon:hover {
    background: url(../images/assets/left-arrow-hover.png);
}

.image-slider .right-arrow {
    position: absolute;
    background: url(../images/assets/left-button-box.png);
    background-size: cover;
    width: 93px;
    height: 98px;
    top: 38%;
    right: -45px;
}

#right-icon {
    position: absolute;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipH;
    filter: FlipH;
    background: url(../images/assets/left-arrow.png);
    background-size: cover;
    height: 22px;
    width: 11px;
    top: 46.5%;
    right: -4.5px;
    cursor: pointer;
}

#right-icon:hover {
    background: url(../images/assets/left-arrow-hover.png);
}

.image-slider img {
    padding-top: 55px;
    margin: 0 auto;
}

#conference {
    margin-top: 5%;
    margin-bottom: 5%;
}

.conference-title {
    color: #ffff00;
    font: 400 22px / 20px NeoSansIntel;
    line-height: 25px;
    text-shadow: 5px 4px 4px #505050;
}

.conference-description {
    color: #ffff00;
    font: 400 18px / 16px NeoSansIntel;
    text-shadow: 3px 3px 3px #505050;
}

.light-box {
    background: url(../images/assets/thumbnail-bar.png);
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 5%;
}

.slider-thumbnail img {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.black-white {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

@media only screen and (max-width: 600px) {
    .title-slider {
        font-size: 19px;
    }
    .jumbotron {
        height: auto;
    }
    .left-arrow,
    .right-arrow,
    #left-icon,
    #right-icon {
        display: none;
    }
    .conference-title {
        font-size: 18px;
    }
    .conference-description {
        font-size: 14px;
    }
    .image-slider {
        position: relative;
        margin-left: 5%;
        margin-right: 5%;
        width: auto;
    }
}